body {
    /* color: white; */
    margin:0;
    background-color: #1F2937;
    font-family: sans-serif;
}

.header{
    color: white;
    padding: 0px 180px;
    padding-top: 18px;
    
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 80px; */
}

.header-links{
    display: flex;
    gap: 32px;
    list-style-type: none;
}

.header-logo img{
    width: 120px;
    margin: 0;
    padding: 0;
}

.hero{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 80px 180px;
}
.hero h1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}
.hero p{
    font-size: 18px;
    color: #E5E7EB;
}

.hero button{
    color: #E5E7EB;
    background-color: #3882F6;
    border:none;
    border-radius: 4px;
    padding: 8px 18px;
    font-weight: bold;
}
.hero img{
    width: 560px;
}
.hero >.left{
    width: 480px;
}

.main{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-content{
    display: flex;
    gap: 36px;
    align-items: center;
    padding-bottom: 72px;

    /* justify-content: space-between; */
    
}

.main h1{
    padding: 15px;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.info img{
    height: 180px;
    width: 180px;
    border: 3px solid #3882F6;
    border-radius: 8px;
}
.info {
    text-align: center;
    color: #696969;
}

.quote{
    padding: 48px 280px;
    /* width: 1080px; */
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 32px;
    font-weight: 100;
    font-style: italic;
    /* display: flex; */
    /* flex-direction: column; */
    /* margin: auto; */
}

.quote p{
    margin: 0;
}

.quote h5{
    margin: auto;

}